*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #e1e1e1;
}

.title {
    font-size: 32px;
    font-weight: 600;
    color: #111;
}

.export__content {
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid #111;
}

.export__box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    border-bottom: 1px solid #111;
}

.export__btn {
    outline: none;
    border: none;
    background-color: purple;
    padding: 8px 20px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.table {
    font-size: 20px;
    font-weight: 500;
    color: #111;
}

th,
td {
    border-bottom: 1px solid #111;
    border-left: 1px solid #111;
    text-align: center;
}

th:first-child,
td:first-child {
    border-left: none;
}

tr:last-child td {
    border-bottom: none;
}